section {
  min-width: 3rem;
  min-height: 3rem;
  text-align: center;
  display: grid;
  place-items: center;
}
h1 {
  min-width: 1rem;
  min-height: 1rem;
  font-style: normal;
  font-weight: 550;
  font-size: 2.5rem;
  line-height: 25px;
}
p {
  min-width: 345px;
  min-height: 36px;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 48px;
}
.card {
  position: relative;
  width: 40em;
  margin: 190.07px 0 0 0;
  min-height: 2em;
  background-color: #fdfdfe;
  border-left: 0.1px solid #dddddd;
  border-right: 0.1px solid #dddddd;
  border-bottom: 0.1px solid #dddddd;
  padding-bottom: 5em;
  display: grid;
  place-items: center;
}
.img1 {
  position: absolute;
  width: 178px;
  height: 206px;
  left: 20px;
  top: -11em;
}
.img2 {
  position: absolute;
  width: 5em;
  height: 5rem;
  right: 70px;
  top: 50px;
}
.text {
  margin-top: 13em;
}
h2 {
  width: 321px;
  height: 168px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  order: 1;
}
h3,
h4 {
  text-align: left;
}
h3 {
  margin-top: 2em;
  width: 311px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #4c4d5f;
}
h4 {
  width: 311px;
  height: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #4c4d5f;
}
footer {
  margin: 5rem 0 0 14rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-heading {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #4c4d5f;
}
.footer-types {
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  color: #8a8b8d;
  text-decoration: none;
}
